<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-warning"><%= flash[:alert] %></div>
<% end %>


<div class="row">
  <div class="col-md-4">
    <%= image_tag(avatar_url(@user), width: "200", height: "200", class: "img-circle pull-right") %>
  </div>
  <div class="col-md-4 user-info">
    <p class="user-name"><%= @user.name %></p>
    <p class="user-status">
      <% if @user.is_tutor %>
        <p>Tutor</p>
      <% else %>
        <p>Student</p>
      <% end %>
    </p>
  </div>

  <% unless @user == current_user %>
    <div class="col-md-4 feedback">
      <%= link_to "Leave a Feedback", new_feedback_path %>
      <% if @user.is_tutor && current_user.is_tutor != true %>
        <%= link_to "Book a session", new_event_path %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @user.feedbacks.present? %>
  <div class="row feedback-list">
    <% @user.feedbacks.limit(5).sort_by(&:created_at).reverse!.each do |feedback| %>
      <div class="row feedback-row">
        <div class="col-md-2">
          <p>Rating: <%= feedback.rating %></p>
        </div>

        <div class="col-md-8">
          <p>Comment: <%= feedback.comment %></p>
        </div>

        <div class="col-md-2">
          <p>Created At: <%= feedback.created_at.to_formatted_s(:short) %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">No Feedbacks yet!</p>
<% end %>

