<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<h1>Leave a feedback!</h1>
<%= form_for @feedback, url: {action: :create} do |f| %>
  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field(:rating, in: 1.0..5.0, step: 0.5, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_name, "Feedback For" %>
    <%= f.text_field :user_name, value: @user.name, class: "form-control" %>
  </div>

  <div class="form-group hidden">
    <%= f.number_field :user_id, value: @user.id %>
  </div>

  <%= f.submit "Submit Feedback", class: "btn btn-primary" %>
<% end %>
