<!DOCTYPE html>
<html>
<head>
  <title>Tutorify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Welcome to Tutorify</h1>

      <% if signed_in? %>
        <%= link_to("Sign Out", session_path, method: :delete, class:
                    'pull-right') %>
      <% end %>
  </div>

    <%= yield %>

  </div>
</body>
</html>
